{% extends  'base.html' %}
{% load static %}
{% block content %}

    <section class="conteudo">
        <section class="banner">
            <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
            <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
        </section>
        <section class="tags">
            <p class="tags__titulo">Busque por tags:</p>
            <ul class="tags__lista">
                {% for categoria in categorias %}
                <li class="tags__tag">
                    <a class="no-anchor" href="{% url 'filtro_tags' categoria.id %}">
                    {{categoria.nome}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="galeria">
            <div class="cartoes">
                <h2 class="cartoes__titulo">Navegue pela galeria</h2>
                <ul class="cartoes__lista">
                    {% if fotografias %}
                        {% for fotografia in fotografias %}
                        <li class="cartao">
                            <a href="{% url 'imagem' fotografia.id %}">
                                {% if fotografia.foto == "" or fotografia.foto == null %}
                                    <img class="cartao__imagem" src="{% static '/assets/imagens/Image_not_available.png' %}" alt="foto">
                                {% else %}
                                <img class="cartao__imagem" src="{{fotografia.foto.url}}" alt="foto">
                                {% endif %}
                            </a>
                            <span class="cartao__selo">{{fotografia.categoria}}</span>
                            <div class="cartao__info">
                                <p class="cartao__titulo">{{fotografia.nome}}</p>
                                <div class="cartao__texto">
                                    <p class="cartao__descricao">{{fotografia.legenda|truncatechars:50}}</p>
                                    <div>
                                        <span>
                                            <a class="cartao__links" href="{% url 'favorito' fotografia.id %}">
                                                {{fotografia.total_favoritos}}
                                                {% if user_id in fotografia.favorito.all %}
                                                <img src="{% static '/assets/ícones/1x/favorite.png' %}" alt="ícone de coração">
                                                {% else %}
                                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                                {% endif %}
                                            </a>
                                        </span>
                                        <span>
                                            {{fotografia.total_visualizacoes}}
                                            <img src="{% static '/assets/ícones/1x/eye.png' %}" alt="ícone de view">
                                        </span>
                                    </div>
                                    
                                </div>
                                <div class="cartao__texto">
                                    <span>
                                        <a class="cartao__links" href="{% url 'fotos_usuario' fotografia.usuario.id %}">
                                            <p class="cartao__descricao"><span class="texto-negrito">Publicado por:</span> @{{fotografia.usuario}} | {{fotografia.data_fotografia}} </p>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    {% else %}
                    <div class="imagem__texto">
                        <p>Nenhuma imagem encontrada</p>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </section>
    </section>

{% endblock %}